<section class="card" *ngIf="pastrie">
  <img
    *ngIf="pastrie.url"
    class="card-img-top"
    src="{{ pastrie.url }}"
    alt="Pastry Category"
  />
  <section class="card-body">
    <h5 class="card-title">{{ pastrie.ref }}</h5>
    <p class="card-text">{{ pastrie.name }}</p>
    <a href="#" class="btn btn-primary"> Desc >> </a>
  </section>
  <ul class="list-group" *ngIf="getIngredients(pastrie.id)">
    <li *ngFor="let ingredient of getIngredients(pastrie.id)" class="list-group-item active">
      {{ ingredient }}
    </li>
  </ul>
</section>
